html, body {
    margin: 10px;
    padding: 10px;
    font-family: Arial;
    font-size: 14px;
}
a {
    font-weight: bold;
    color: blue;
    text-decoration: none;
}
a:visited {
    font-weight: normal;
    color: purple;
}
a:hover {
    text-decoration: underline;
}