html, body {
    font-family: Arial;
    font-size: 14px;
    margin: 10px;
    padding: 10px;
}
a {
    font-weight: bold;
    color: blue;
    text-decoration: none;
}
a:visited {
    font-weight: normal;
    color: purple;
}
a:hover {
    text-decoration: underline;
}
table, tr, td {
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    border: none;
}
table {
    width: 100%;
    font-size: 100%;
}
tr {
    vertical-align: top;
}
td {
    width: 33%;
}